
@keyframes boxakia {
    50% {
        color: aquamarine;
    }
    80% {
        transform: rotate(4deg);
    }
}

@keyframes backgrr {
    50% {
        background:aquamarine;
    }
    
}

body {
    background-color: black;
    
}

.namess {
    position: absolute;
    width: 700px;

   
    height: 500px;
    bottom: 10px;


    
}



@keyframes roller {

    50% {
        color: aquamarine
    }

    80% {
        transform: rotate3d(2, 10, 50, 10);
    }

}


@media only screen and (min-width: 100px){

    .backgrr{
        left: 33%;
        position:absolute;
        background-color: yellow;
        animation-name: backgrr;
        animation-duration: 10s;
        height: 670px;
        width: 750px;
        top: 30px;
        animation-iteration-count: infinite;
        border-radius: 50px;
    }
    .colorname{
        left: 34%;
        position: absolute;
        width: 700px;
        height: 610px;
        background-color: white;
        top: 60px;
        border-radius: 10px;
    }
    .button1{
        left: 38%;
        top: 38%;
        position: absolute;
        background-color: aqua;
        height: 85px;
        width: 230px;
        border-radius: 20px;
    }
    .button2{
        left: 130%;
        top: 1%;
        position: absolute;
        background-color: aqua;
        height: 85px;
        width: 230px;
        border-radius: 20px;
    }
    .button3{
        left: 1px;
        top: 100px;
        position:absolute;
        background-color: aqua;
        height: 85px;
        width: 230px;
        border-radius: 20px;
    }
    .button4{
        left: 130%;
        top: 100px;
        position: absolute;
        background-color: aqua;
        height: 85px;
        width: 230px; 
        border-radius: 20px;
    }
    .flagt{
        position: absolute;
        border-radius: 10px;
        z-index: 5;
        left: 50%;
        bottom: 120%;
        
    }
    .boxaki{
        position:absolute;
        background-color: aqua;
        height: 50px;
        width: 110px;
        z-index: 3;
        top: 245px;
        left: 510px;
        border-radius: 5px;
        
        animation-name: boxakia;
        animation-duration: 10s;
    }
    .boxaki2{
        position: absolute;
        background-color: aqua;
        height: 50px;
        width: 150px;
        z-index: 1;
        animation-name: boxakia;
        animation-duration: 10s;
        top: 245px;
        right: 157px;
        border-radius: 5px;
    }
    .snake{
        left: 7%;
        top: 14px;
        position: absolute;
        color: green;
        animation-name: roller;
        animation-duration: 7s;
        bottom: 48%;
        z-index: 4;
        font-size: 19px;
        font-family: 'Noto Sans Osmanya', sans-serif;
    }
    .drp{
        left: 10%;
        top: 14px;
        position: absolute;
        color: green;
        bottom: 255px;
        z-index: 6;
        font-size: 19px;
        font-family: 'Noto Sans Osmanya', sans-serif;
        animation-name: roller;
        animation-duration: 7s;
    }
    .text1{
        position: absolute;
        left: 38%;
        top: 385px;
        color: green;
        font-size: 30px;
        font-family: 'Noto Sans Osmanya', sans-serif;
        z-index: 7;
    }
    .text2{
        position: absolute;
        left: 54%;
        top: 385px;
        color: green;
        font-size: 30px;
        font-family: 'Noto Sans Osmanya', sans-serif;
        z-index: 8; 
    }
    .text3{
        position: absolute;
        left: 38%;
        top: 490px;
        color: green;
        font-size: 30px;
        font-family: 'Noto Sans Osmanya', sans-serif;
        z-index: 9;  
    }
    .text4{
        position: absolute;
        left: 54%;
        top: 490px;
        color: green;
        font-size: 30px;
        font-family: 'Noto Sans Osmanya', sans-serif;
        z-index: 10; 

    }
}