
@keyframes boxakia {
    50% {
        color: aquamarine;
    }
    80% {
        transform: rotate(4deg);
    }
}

@keyframes backgrr {
    50% {
        background:rgb(230, 202, 46);
    }
    
}

body {
    background-color: black;
    
}

.namess {
    position: absolute;
    width: 700px;

   
    height: 500px;
    bottom: 10px;


    
}



@keyframes roller {

    50% {
        color: aquamarine
    }

    80% {
        transform: rotate3d(2, 10, 50, 10);
    }

}


@media only screen and (min-width: 100px){

    .backgrr{
        left: 33%;
        position:absolute;
        background-color: rgb(255, 136, 0);
        animation-name: backgrr;
        animation-duration: 10s;
        height: 670px;
        width: 750px;
        top: 30px;
        animation-iteration-count: infinite;
        border-radius: 50px;
    }
    .colorname{
        left: 34%;
        position: absolute;
        width: 700px;
        height: 610px;
        background-color: white;
        top: 60px;
        border-radius: 10px;
    }
    .button1{
        left: 38%;
        top: 38%;
        position: absolute;
        background-color: aqua;
        height: 85px;
        width: 230px;
        border-radius: 20px;
    }
    .button2{
        left: 130%;
        top: 1%;
        position: absolute;
        background-color: aqua;
        height: 85px;
        width: 230px;
        border-radius: 20px;
    }
    .button3{
        left: 1px;
        top: 100px;
        position:absolute;
        background-color: aqua;
        height: 85px;
        width: 230px;
        border-radius: 20px;
    }
    .button4{
        left: 130%;
        top: 100px;
        position: absolute;
        background-color: aqua;
        height: 85px;
        width: 230px; 
        border-radius: 20px;
    }
    .flagt{
        position: absolute;
        border-radius: 10px;
        z-index: 5;
        left: 50%;
        bottom: 120%;
        
    }
    .boxaki{
        position:absolute;
        background-color: aqua;
        height: 50px;
        width: 110px;
        z-index: 3;
        top: 385%;
        left: 510px;
        border-radius: 5px;
        
        animation-name: boxakia;
        animation-duration: 10s;
    }
    .boxaki2{
        position: absolute;
        background-color: aqua;
        height: 50px;
        width: 150px;
        z-index: 1;
        animation-name: boxakia;
        animation-duration: 10s;
        top: 385%;
        right: 157px;
        border-radius: 5px;
    }
    .snake{
        left: 7%;
        top: 14px;
        position: absolute;
        color: green;
        animation-name: roller;
        animation-duration: 7s;
        bottom: 48%;
        z-index: 4;
        font-size: 19px;
        font-family: 'Noto Sans Osmanya', sans-serif;
    }

    .text1{
        position: absolute;
        left: 3%;
        top: 25%;
        color: green;
        font-size: 30px;
        font-family: 'Noto Sans Osmanya', sans-serif;
        z-index: 7;
    }
    .text2{
        position: absolute;
        left: 3%;
        top: 25%;
        color: green;
        font-size: 30px;
        font-family: 'Noto Sans Osmanya', sans-serif;
        z-index: 8; 
    }
    .text3{
        position: absolute;
        left: 3%;
        top: 25%;
        color: green;
        font-size: 30px;
        font-family: 'Noto Sans Osmanya', sans-serif;
        z-index: 9;  
    }
    .text4{
        position: absolute;
        left: 3%;
        top: 25%;
        color: green;
        
        font-size: 30px;
        font-family: 'Noto Sans Osmanya', sans-serif;
        z-index: 10; 

    }



    @keyframes fadeInLeft {
        0% {

           transform: translateX(-50px);
        }
        100% {
           transform: translateX(0);
        }
     } 




    .cortext {
        position: absolute;
        font-family: 'Abril Fatface', cursive;
        visibility: hidden;
        font-size: 40px;
        z-index: 5;
        opacity: 1;
        color: #4169e1;
        left: 100px;
        top: 5px;


    }

    .corbox {
        position: absolute;
        left: 2%;
        top: 43%;

          animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
  -o-animation: fadeIn 6s;
  -ms-animation: fadeIn 6s;
        visibility: hidden;
        width: 350px;
        background-color: orange;
        z-index: 3;
        border-radius: 30px;
        height: 70px;
    }



    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }

    .gonexts {
        position: absolute;
        width: 110px;   
        border-radius: 10px;
        top: 410px;
        font-family: 'Abril Fatface', cursive;
        left: 10%;
        color: white;
        visibility: hidden;
        text-align: center;
        height: 35px;
        
        background-color: rgba(240, 248, 255, 0.123);
    }


















}



