body {
    background-color: black;
}

    

.place {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    width: 40%;
    background-color: lightblue;
    opacity: 0.3;
    height: 85%;
    border-radius: 10px;
    right: 30%;
    top: 50px;
}
.vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }



.title {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    color: rgb(114, 84, 250);
    left: 600px;
    top: 20px;
    font-size: 50;
    font-family: 'Skranji', cursive;
}

.developedby {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Heebo', sans-serif;
    position: absolute;
    top: 88%;
    left: 440px;
    
}

.fidi {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    left: 485px;
    top: 1px;
    z-index: 2;
}
.dr {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    left: 380px;
    top: 1px;
    z-index: 2;
}

.namebox {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    background-color: lightblue;
    width: 185px;
    border-radius: 10px;
    left: 375px;
    opacity: 0.2;
    bottom: 1px;
    height: 20px;
}


.gametype {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Rowdies', cursive;
    position: absolute;
    left: 645px;
    top: 80px;
    color: rgb(0, 57, 180);
    font-size: 25;
    opacity: 0.8;
}

@keyframes verhtds {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.2;
    }
    
}


.verhtds {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 345px;
    right: 475px;
    width: 500px;
    opacity: 0.2;
    text-align: center;
    font-size: 25;
    font-family: 'Arbutus', serif;
    border-radius: 5px;
    z-index: 1;
    animation-iteration-count: infinite;
    height: 50px;
    background-color: lightblue;


}


.textverthtds {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;

    font-family: 'Skranji', cursive;
    top: 352px;
    width: 500px;
    opacity: 1;
    z-index: 3;
    left: 490px;
    font-size: 30px;
}

.verjs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 350px;
    font-family: 'Skranji', cursive;
    width: 500px;
    color: black;
    font-size: 35px;
    left: 760px;
    z-index: 3;
}

@keyframes raincolor {
    0% {
        color: rgb(61, 109, 214);
    }
    50% {
        color: rgb(29, 108, 114);
    }
    100% {
        color: rgb(36, 104, 192);
    }
}




.umbblue {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    height: auto;
    width: 50px;
    left: 9px;
    bottom: 1px;
    opacity: 0.6;
}


.linkverthtds {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 345px;
    width: 220px;
    height: 50px;
    z-index: 4;
    left: 465px;
    font-size: 30px;
    border-radius: 10px;
    opacity: 0.8;
}

.linkverjs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 345px;
    width: 230px;
    height: 50px;
    z-index: 4;
    left: 730px;
    font-size: 30px;
    border-radius: 10px;
    opacity: 0.8;
}

.avaibilitymobile {
    visibility: hidden;

}

.comingsoon {
    visibility: hidden;
}















































































































/* Mobile  Avaibility */





    

@media only screen and (max-width: 1000px) {


    .umbblue {
        visibility: hidden;
    }
    .comingsoon {
        visibility: visible;
        font-size: 70px;
        width: 2000px;
        font-family: 'Skranji', cursive;
        height: 100px;
        position: fixed;
        top: 600px;
        left: 400px;
    }
    
    .avaibilitymobile {
        visibility: visible;
        font-size: 70px;
        width: 2000px;
        font-family: 'Skranji', cursive;
        height: 100px;
        position: fixed;
        top: 500px;
        left: 200px;
    }

    .linkverjs {
        visibility: hidden;
    }

    .linkverthtds {
        visibility: hidden;
    }
    .verjs {
        visibility: hidden;
    }
    .verhtds {
        visibility: hidden;
    }
    .linkverthtds {
        visibility: hidden;
    }
    .textverthtds {
        visibility: hidden;
    }
    .gametype {
        visibility: hidden;
    }





    .place {
        width: 1100px;
        left: 80px;
    }
    .title {
        font-size: 100px;
        left: 390px;
    }

    .dr {
        opacity: 0.5;
        font-size: 50px;
        left: 520px;
        
    }

    .fidi {
        font-size: 50px;
        left: 850px;
        opacity: 0.5;
    }
    .developedby {
        opacity: 0.6;
        font-size: 50px;
        left: 90px;
        top: 85%;
    }

}