body {
    background-color: black;
}

.place {
    position: absolute;
    width: 40%;
    background-color: lightblue;
    opacity: 0.3;
    height: 85%;
    border-radius: 10px;
    right: 30%;
    top: 50px;
}
.vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }



.title {
    position: absolute;
    color: rgb(114, 84, 250);
    left: 600px;
    top: 20px;
    font-size: 50;
    font-family: 'Skranji', cursive;
}

.developedby {
    font-family: 'Heebo', sans-serif;
    position: absolute;
    top: 670px;
    left: 440px;
    
}

