body {
    background-color: black;
}

.place {
    position: absolute;
    width: 40%;
    background-color: lightblue;
    opacity: 0.3;
    height: 85%;
    border-radius: 10px;
    right: 30%;
    top: 50px;
}
.vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }



.title {
    position: absolute;
    color: rgb(114, 84, 250);
    left: 600px;
    top: 20px;
    font-size: 50;
    font-family: 'Skranji', cursive;
}

.developedby {
    font-family: 'Heebo', sans-serif;
    position: absolute;
    top: 88%;
    left: 440px;
    
}

.fidi {
    position: absolute;
    left: 485px;
    top: 1px;
    z-index: 2;
}
.dr {
    position: absolute;
    left: 380px;
    top: 1px;
    z-index: 2;
}

.namebox {
    position: absolute;
    background-color: lightblue;
    width: 185px;
    border-radius: 10px;
    left: 375px;
    opacity: 0.2;
    bottom: 1px;
    height: 20px;
}


.gametype {
    font-family: 'Arbutus', serif;
    position: absolute;
    left: 635px;
    top: 80px;
    color: rgb(0, 57, 180);
    font-size: 25;
    opacity: 0.8;
}